#-----------------------------------------------
#模板配置规则
#cmdname; status; template_name
[TemplateFile:2:1]
.*;     fail;			/error/fail.ftl
.*;		full;			/error/full.ftl
.*; 	fatal;			/error/fatal.ftl
.*;		bm_err;			/error/bm_err.ftl
.*;		no_money;		/pay/pay_info.ftl
.*;		login_fail;		/error/login_fail.ftl
.*;		pay_fail;		/error/pay_fail.ftl

.*;		in_fight;		/fight/fightmonster.ftl;
.*;		fight_win;		/fight/fightmonsterwin.ftl
.*;		fight_lose;		/fight/fightmonsterlose.ftl
.*;     player_upgrade; /player/upgrade.ftl
.*;     online_give;    /player/online_giving.ftl
.*;		book_mark;		/player/book_mark.ftl
.*;		ride_note;      /move/ride_note.ftl

.*;		in_wararea;		/match/warground.ftl;
.*;		match_end;		/match/end.ftl;

########
mv_W;	info; 	/player/ok.ftl
mv_W;	succ;		/facility.ftl
mv_W;	succ_sp;    /facility.ftl

u_LZ; 	.*;		/user/list_zone.ftl
u_EZ;	.*;		/user/enter_zone.ftl
u_CP;	.*;		/user/create_user.ftl
u_S;	.*;		/sect/sect_join.ftl
u_SE;	.*;		/user/sect.ftl
u_CR;	.*;		/user/create.ftl

#门派
se_L;			.*;		/sect/sect_list.ftl
se_I;			.*;		/sect/sect_info.ftl
se_J;			.*;		/sect/sect_join.ftl
se_JC;			.*;		/sect/sect_join2.ftl
se_T;			.*;		/sect/sect_top.ftl;
se_IR;			.*;		/sect/instruct_require.ftl;
se_LI;			.*;		/sect/list_instruct.ftl;
se_VS;			.*;		/sect/view_skill.ftl;
se_UP;			.*;		/sect/upgrade_pre.ftl;
se_TS;			.*;		/sect/train_skill.ftl;
se_SI;			.*;		/sect/skill.ftl;
se_SC;			.*;		/sect/set_jx_shortcut.ftl;
se_US;			.*;		/sect/upgrade_skill.ftl;
se_LUS;			.*;		/sect/skill_load_main.ftl;
se_LF;          succ;     /sect/sect_life.ftl;
se_LF;          queding;     /sect/sect_queding.ftl;

mv_LF;	.*;		/move/faclist.ftl
mv_LC;	.*;		/move/citylist.ftl
mv_TvS;	.*;		/move/travel_select.ftl
mv_G;	.*;		/move/go.ftl
mv_TrL;	.*;		/move/transfer_list.ftl
mv_TrC;	.*;		/move/transfer_confirm.ftl
mv_TrD;	.*;		/move/mission_del.ftl
mv_sz;  succ;     /move/chuansongshezhe.ftl
mv_sz;  fetch;     /move/chuansong_zhu.ftl
mv_sz;  info;     /move/chuansong_info.ftl
mv_sz;  repair;     /move/chuansong_repair.ftl
mv_sz;  reok;     /move/chuansong_repair_ok.ftl
mv_O;    .*;      /move/out.ftl;


#玩家
p_T;	.*; 	/player/talk.ftl;
p_LA;	.*; 	/player/arm.ftl;
p_T;	.*; 	/player/talk.ftl
p_VS;	.*; 	/player/viewself.ftl
p_VO;	.*; 	/player/view_other.ftl
p_LP;	.*; 	/player/list_player.ftl
i; 		.*;		/player/talk.ftl
p_BPP;	.*;		/player/book_passwd_pre.ftl
p_BPS;	.*;		/player/book_passwd_set.ftl
p_IPP;	.*;		/player/item_passwd_pre.ftl
p_IPS;	.*;		/player/item_passwd_set.ftl
p_S;	.*;		/player/setting.ftl
p_EP;	.*;		/player/enter_passwd.ftl
p_LL;   .*;     /player/list_all_life.ftl;
p_VSP;  effect; /player/show_special_effect.ftl;
p_VSP;  res;    /player/show_special_res.ftl;
p_VSP;  info;    /player/show_special_info.ftl;
p_R;  	succ;    /player/rank.ftl
p_R;	index;	/player/rank_index.ftl
p_NL;   .*;     /player/name_luck.ftl
p_J;    add_jail; /player/jail.ftl;
p_J;    succ;    /player/jail_info.ftl;
p_KF;   succ;    /player/player_kf.ftl;
p_KF;   rule;    /player/player_kf_rule.ftl;
p_KF;   note;     /player/player_kf_ok.ftl;
p_KF;    quit;    /player/player_kf_quit.ftl;
p_KF;    top;    /player/player_kf_top.ftl;
p_KF;    list;    /player/player_kf_list.ftl;
p_KF;    apply;    /player/player_kf_apply.ftl;
p_VSA;   succ;     /player/list_sell_item.ftl;
p_Ps;    ps;     /player/password.ftl;
p_Ps;    info;    /player/password_info.ftl;
p_Ps;    modify;    /player/password_modify.ftl;
p_Un;    .*;         /player/updatename.ftl;
p_Unt;   succ;          /player/updatenametwo.ftl;
p_Unt;   index;          /player/updatenametwo.ftl;
p_VP;      .*;         /player/list_sell_pet.ftl;
p_PV;      index;         /player/vip.ftl;
#好友
p_AF;			.*;		/friend/friend.ftl
p_LF|p_AF|p_DF;	.*;		/friend/friend.ftl
p_LB|p_DB;	.*;		/friend/blacklist.ftl
p_LI;			.*;		/friend/intimate.ftl
p_DFC;			.*;		/friend/del_confirm.ftl
p_FF;           succ;   /friend/find_friend.ftl  
p_AB;          index;   /friend/heimingqueren.ftl;
p_AB;	       succ;	/friend/blacklist.ftl;
p_B;          .*;        /player/banned_index.ftl;

#任务
m; 		list;			/mission/list.ftl
m; 		info;			/mission/info.ftl
m; 		type;			/mission/type.ftl
m_N;	.*;				/mission/nextmission.ftl
m;		cancel;			/mission/list.ftl

#道具
i_L|i_Dr|i_H; 	.*;		/item/list.ftl
i_BN;			.*; 	/item/buynum.ftl;
i_DrP;			.*;		/item/droppre.ftl;
i_C;			.*;		/item/compose.ftl;
i_E;			.*;		/item/embed.ftl;
i_F;			.*;		/item/forge.ftl;
i_EA;			.*;		/item/excavate_append.ftl;
i_Em;			.*;		/item/extractmaterial.ftl;
i_LB|i_BI;		.*; 	/item/listbuy.ftl;
i_LBi;			.*;		/item/listbind.ftl
i_LA;			.*; 	/item/arms.ftl;
i_LE;			.*; 	/item/list_excavate.ftl;
i_LF;			.*; 	/item/listforge.ftl;
i_LM;			.*; 	/item/listmaster.ftl;
i_LI;			.*; 	/item/listimprove.ftl;
i_Lp;			.*; 	/item/listpuncture.ftl;
i_LPr;			.*; 	/item/listpromote.ftl;
i_I;			.*;		/item/info.ftl;
i_II;			.*;		/item/infoitem.ftl;
i_IS;			.*;		/item/info_append_slaver.ftl;
i_Im;			succ;	/item/improve.ftl;
i_Im;			stat_no;	/item/improve_no.ftl;
i_O;			.*;		/item/open_box.ftl;
i_P;			.*;		/item/puncture.ftl;
i_Pr;			.*;		/item/promote.ftl;
i_LS|i_SeI;		.*;		/item/listsell.ftl;
i_LR;			.*;		/item/listrepair.ftl;
i_LV;			.*;		/item/list_varyable.ftl;
i_LC;			.*;		/item/list_compose.ftl;
i_SP;			.*;		/item/show_property.ftl;
i_Dec;			.*;		/item/decompose.ftl;
i_DeP;			.*;		/item/decomposepre.ftl;
i_SeA;			.*;		/item/sell_ack.ftl;
i_SeN;			.*;		/item/sellnum.ftl;
i_LSl;			.*;		/item/listslaver.ftl;
i_LCM;			.*;		/item/list_compose_material.ftl;
i_UA;			.*;		/item/usearm.ftl;
i_BD;			.*;		/item/bind.ftl;
i_UnBPre;		.*;		/item/unbind_pre.ftl;
i_UnB;			.*;		/item/unbind.ftl;
i_Smith;		.*;		/item/smith.ftl;
i_smelt;		.*;		/item/smelt.ftl;
i_RP;			.*;		/item/review_property.ftl;
i_VP;			.*;		/item/vary_property.ftl;
i_VPr;			.*;		/item/vary_property_pre.ftl;
i_SLD;          .*;     /item/showLifeDetail.ftl;
i_SIS;          .*;     /item/showitemsuit.ftl;   
i_G;            .*;     /item/giveResult.ftl;
i_SG;           .*;     /item/showGiveItem.ftl;
i_SGI;          .*;     /item/giveItem.ftl;
i_SSN;          .*;     /item/sect_special_npc.ftl;
i_LstM;         .*;     /item/action_menu.ftl;
i_Kler; 		.*;     /item/klunker.ftl;
i_r;			.*;		/item/continue_ack.ftl;
i_SAI;      confirm;    /item/sell_all_arm.ftl;
i_IR;         reward;   /item/reward.ftl;
i_PT;           .*;     /item/listpuncturetwo.ftl;
i_PRT;          .*;     /item/listpromotetwo.ftl;
i_VPT;          .*;     /item/list_varyabletwo.ftl;
i_Dh;           .*;     /item/list_dighole.ftl;
i_DHt;          .*;     /item/list_digholetwo.ftl;
i_DHTr;         succ;     /item/list_digholethree.ftl;
i_DHTr;         stat_ok;     /item/list_digholethree_ok.ftl;
i_T;            .*;     /item/list_trade.ftl;
i_Tt;           .*;     /item/trade.ftl;
i_BX;           .*;     /item/oper_baoxiang.ftl;
i_X;            .*;     /item/open_xiangzi.ftl;
i_HTC;          .*;     /item/open_xiangzi.ftl;
i_PE;        index;     /item/point_exchange.ftl;
i_PE;         conf;     /item/point_exchange_conf.ftl;
i_PE;         info;     /item/point_exchange_info.ftl;
i_LFI;        main;     /item/list_forge_items.ftl;
i_LFI;    material;     /item/list_forge_materials.ftl;
i_LAI;          .*;     /item/list_aharmacy_items.ftl;
i_AM;           .*;     /item/aharmacy_item.ftl;
i_A;          succ;     /item/aharmacy.ftl;
i_A;        shibai;     /item/aharmacy_shibai.ftl;
i_LSK;         succ;     /item/skilled_main.ftl;
i_SK;          succ;     /item/skilled_main.ftl;
i_CIS;			.*;		/item/compose_item_index.ftl;
i_CI;			succ;		/item/compose_item_index.ftl;
i_CI;			stat_desc;		/item/compose_item_desc.ftl;
i_SB;			succ;		/item/select_buffer.ftl;
i_SB;			stat_ok;	/item/select_buffer_ok.ftl;
i_LBR;			.*;			/item/lock_buff_rand.ftl;
i_LD;			.*;			/item/list_decompose.ftl;
i_DI;			.*;			/item/decompose_item.ftl;


#结婚
pm_DL;		declare_list;	/marry/marry_declare_list.ftl
pm_DL;		declare_wait;	/marry/marry_declare_wait.ftl
pm_DL;		declare_proc;	/marry/marry_declare_proc.ftl
pm_DP;		succ;			/marry/marry_proc.ftl
pm_DL;		marry_start;	/marry/marry_start.ftl
pm_MS;		succ;			/marry/marry_ing.ftl
pm_MD;		succ;			/marry/marry_done.ftl
pm_DL;		marry_ing;		/marry/marry_ing.ftl
pm_DD;		succ;			/marry/marry_declare_wait.ftl
pm_CL;		succ;			/marry/marry_cong_list.ftl
pm_CG;		cong_content;  	/marry/marry_cong_content.ftl
pm_CG;		funny;  	    /marry/marry_cong_funny.ftl
pm_CG;		succ;			/marry/marry_cong_succ.ftl
pm_DL;		marry_done;		/marry/marry_leave_list.ftl
pm_DL;		divorce_proc;	/marry/marry_leave_proc.ftl
pm_LL;		succ;			/marry/marry_leave.ftl
pm_LL;		marry_done;		/marry/marry_leave_list.ftl
pm_LP;		leave_done;		/marry/marry_leave_res.ftl
pm_IF;		.*;				/marry/marry_info.ftl
pm_G;		.*;				/marry/marry_guide.ftl
pm_CS;		.*;				/marry/marry_chuansong.ftl
pm_LL;		divorce_pay;	/marry/marry_leave_pay.ftl
pm_AD;      reApply;        /marry/mayyr_reapply.ftl
pm_AD;		succ;		    /marry/marry_leave_list.ftl
pm_AD;		divorce_proc;	/marry/marry_leave_proc.ftl
pm_PD;		succ;	        /marry/marry_leave_pay_res.ftl
pm_RC;      succ;           /marry/marry_request_cancel.ftl

#战斗
f_MV;		succ;			/fight/monsterinfo.ftl
f_AB;		succ;			/fight/fightabort.ftl
f_AB;		index;			/fight/fightabort_queren.ftl
f_PU;		succ;			/fight/fightmonsterpickup.ftl
f_PU;		instance_fail; 	facility.ftl
f_SC;		set_shortcut;   /fight/fightshortcut.ftl
f_M;		succ;			/fight/fightmonster.ftl
f_M;		instance_fail;	facility.ftl
f_MB;		succ;			/fight/fightmonster.ftl
f_MB;       petHungry;      /fight/fightpethungry.ftl
f_SSC;		succ;			/fight/fightmonster.ftl
f_SC;		use_item;		/fight/fightmonster.ftl
f_SC;		succ;			/fight/fightmonster.ftl
p_SS;		.*;				/fight/setting.ftl
p_SSC;		.*;				/fight/setshortcut.ftl
fc_I;		succ;			/fight/fightcityinfo.ftl
.*;			in_battle;		/fight/fightcityground.ftl;
fc_A;		succ;			/fight/fightcityannounce.ftl
fc_C;		succ;			/fight/fightcityconfirm.ftl
fc_T;		succ;			/fight/fightcityjoinatk.ftl
fc_P;		succ;			/fight/fightcityjoinptc.ftl
fc_G;		succ;			/fight/fightcityground.ftl
.*;			battle_end;		/fight/fightcityend.ftl
f_PA;       .*;            /fight/pickapple.ftl

#聊天
ca_L;		.*;				/chat/world.ftl
ca_S;		succ;			/chat/world.ftl

#消息
m_I;				.*;    			/message/msginput.ftl
m_S;				.*;    			/message/msgsent.ftl

#帮会
t_I;				.*;				/tong/index.ftl;
t_Cr;				.*;				/tong/create.ftl;
t_McN;				modify;			/tong/modify_name.ftl;
t_E;				.*;				/tong/edit.ftl;
t_M;				.*;				/tong/my.ftl;
t_V;				.*;				/tong/view.ftl;
t_J;				.*;				/tong/join.ftl;
t_PIL;				.*;				/tong/player_item_list.ftl;
t_PII;				.*;				/tong/player_item_info.ftl;
t_II;				ma;				/tong/item_info.ftl;
t_II;				vd;				/tong/item_info.ftl;
t_DM;				.*;				/tong/donate_more.ftl;
t_D;				.*;				/tong/donate.ftl;
t_AM;				.*;			 	/tong/askfor_more.ftl;
t_MI;				.*;				/tong/manage_index.ftl;
t_MAl;				.*;				/tong/manage_ally.ftl;
t_MAs;				.*;				/tong/manage_askfor.ftl;
t_MAu;				.*;				/tong/manage_auditing.ftl;
t_MU;				.*;				/tong/up.ftl;
t_DIL;				.*;				/tong/depot_item_list.ftl;
t_AM;				.*;				/tong/askfor_more.ftl;
t_MP;				.*;				/tong/manage_player.ftl;
t_ML;				.*;				/tong/member_list.ftl;
t_MVP;				ap;				/tong/view_player.ftl;
t_MVP;				mp;				/tong/view_player.ftl;
t_Ex;				.*;				/tong/exchange.ftl;
t_Q;				confirm;		/tong/quit_confirm.ftl;
t_Q;				succ;			/tong/quit.ftl;
t_LS;				.*;				/tong/logs.ftl;
t_MN;				.*;				/tong/manage_notice.ftl;
t_CN;				.*;				/tong/create_notice.ftl;
t_VN;				.*;				/tong/view_notice.ftl;
t_NL;				.*;				/tong/notice_list.ftl;
t_AA;				.*;			 	/tong/apply_ally.ftl;

#公告
n_L;				.*;				/notice/list.ftl;
n_V;				.*;				/notice/view.ftl;

#商城
ma_I;				.*;    			/mall/index.ftl
ma_BSN;				.*;    			/mall/buy_silver_num.ftl
ma_I;				.*;    			/mall/index.ftl;
ma_BSN;				.*;    			/mall/buy_silver_num.ftl;
ma_BS;				.*;    			/mall/buy_silver.ftl;
ma_BGN;				.*;				/mall/buy_goods_num.ftl;
ma_GBG;				.*;				/mall/buy_goods.ftl;
ma_L;				.*;				/mall/mall_list.ftl;

#宠物
pe_L;				.*;				/pet/list.ftl;
pe_En;				.*;				/pet/enable_talent.ftl;
pe_FP;				.*;				/pet/feed_pre.ftl;
pe_In;				.*;				/pet/incubate.ftl;
pe_VE;				.*;				/pet/view_egg.ftl;
pe_Re;				.*;				/pet/rename.ftl;
pe_RP;				.*;				/pet/reset_property.ftl;
pe_ReP;				.*;				/pet/review_pet.ftl;
pe_ReT;				.*;				/pet/review_pet_talent.ftl;
pe_RPr;				.*;				/pet/reset_property_pre.ftl;
pe_FPr;				.*;				/pet/forget_talent_pre.ftl;
pe_VoP;				.*;				/pet/view_other_pet.ftl;
pe_MT|pe_FT;		.*;				/pet/manage_talent.ftl;
pe_Dr|pe_DrP;		.*;				/pet/drop.ftl;
pe_OT;              .*;             /pet/openTalent.ftl;
pe_I;              main;             /pet/pet_intro.ftl;
pe_I;              prop;             /pet/pet_intro_prop.ftl;
pe_I;              skill;            /pet/pet_intro_skill.ftl;
pe_LBF;             .*;              /item/listbuy.ftl;
pe_UPN;             .*;              /pet/update_pet_name.ftl
pe_UP;              .*;              /pet/update_pet_name.ftl
#师徒
co_B1; 	.*;					/coach/become_coach.ftl;
co_BC;	.*;					/coach/confirm_become_coach.ftl;
co_LC;	.*;					/coach/list_coach.ftl
co_LI;	.*;					/coach/list_instruct.ftl;
co_BS;	.*;					/coach/become_student.ftl;
co_R1; 	.*;					/coach/release_coach_1.ftl;
co_R;	.*;					/coach/release_coach_2.ftl;
co_I;	.*;					/coach/intro.ftl;
co_In;	.*;					/coach/instruct.ftl;
co_CM;	stat_coach_man;		/coach/coach_man.ftl;
co_CM;	stat_coach_in;		/coach/coach_in.ftl;
co_CM;	stat_student_man;	/coach/student_man.ftl;
co_CM;	stat_student_in;	/coach/student_in.ftl;
co_Lm; 	.*;					/coach/manager.ftl;
co_SAs; .*;					/coach/accept_skill.ftl;

#队伍
te_L|te_C|te_J|te_K;	.*;			/team/list.ftl
te_Q;	.*;					/team/quit.ftl;
te_V;	.*;					/team/view.ftl;

#门派比武
mc_I;	.*;			/match/intro.ftl
mc_S;	.*;			/match/signup.ftl
mc_WG;	.*;			/match/warground.ftl
mc_SH;	.*;			/match/sect_honor.ftl
mc_SHD;	.*;			/match/sect_honor_detail.ftl
mc_SHL;	.*;			/match/sect_honor_list.ftl
mc_TE;	.*;			/match/signup.ftl

#悬赏
h;     stat_input;     /hunt/input.ftl;
h;     stat_submit;    /hunt/issued.ftl;
h;     stat_list;      /hunt/list.ftl;
h;     stat_succ;      /hunt/took.ftl;
h;     stat_wanted;    /hunt/wanted.ftl;
h;     stat_cancel;    /hunt/cancel.ftl;
h_I;    .*;            /hunt/reward_input.ftl;
h_R;    .*;            /hunt/rule.ftl  
h;     stat_mission;   /hunt/completed_mission.ftl;
h;     stat_rewards;   /hunt/get_rewards.ftl;
h_LM;   .*;            /hunt/list_hunter_mis.ftl;
h_MN;   .*;            /hunt/note_info.ftl;
h_SM;   list;          /hunt/my_enemy.ftl;
h_SM;   reward;        /hunt/my_reward.ftl;

#副本
in_L;	succ;	/instance/list.ftl;
in_E;	succ;	/instance/enter.ftl;
in_E;	info;	/instance/new.ftl;

#充值
pa_I;	.*;				/pay/pay_info.ftl
pa_A;	.*;				/pay/account.ftl
pa_E;	.*;				/pay/account.ftl
pa_QbS;	.*;				/pay/qb_submit.ftl
pa_WapS;	.*;			/pay/wap_submit.ftl
pa_SzfS;	.*;			/pay/szf_submit.ftl
pa_R;	.*;				/pay/pay_ret.ftl

#送礼品
ps_M;	.*;				/present/mall.ftl
ps_VS;	.*;				/present/present.ftl
ps_BS;	.*;				/present/present_result.ftl
ps_MP;	.*;				/present/receive_present.ftl
ps_GA;  .*;             /present/present_result.ftl

#交易
ex_PP;	.*;				/exchange/publish_price.ftl;
ex_P;	.*;				/exchange/publish.ftl;
ex_SP;	.*;				/exchange/show_publish.ftl;
ex_SD;	.*;				/exchange/show_detail.ftl;
ex_D;	.*;				/exchange/done.ftl;
ex_PC;	.*;				/exchange/publish_cancel.ftl;
ex_VSA;  succ;          /exchange/sell_item.ftl;
ex_PS;  .*;             /exchange/pet_spotprice.ftl
ex_PL;  .*;             /exchange/petlist.ftl
ex_SPL;  .*;             /exchange/show_petlish.ftl;
ex_CP;   .*;            /exchange/publish_cancel.ftl;
ex_SPT;  .*;             /exchange/show_pet.ftl;
ex_PD;   .*;             /exchange/petdone.ftl;
ex_SPC;   .*;             /exchange/show_petcancel.ftl;

#活动
ply_mr;  	succ;    	/play/rank.ftl;
ply_mr;		index;		/play/qi_xi_index.ftl;
ply_inf;	.*;			/play/info.ftl;
ply_I;		.*;			/play/qi_xi_box.ftl;
ply_Fst;	.*;			/play/festival.ftl;
ply_At;     index;         /play/activities.ftl;
ply_At;     succ;         /play/activitie_introduced.ftl;
ply_Sk;     index;       /play/socks.ftl;
ply_Sk;     succ;       /play/socks.ftl;
ply_Du;     succ;         /play/dress_uptree.ftl;
ply_Du;    index;         /play/dress_up.ftl;
ply_Dun;    succ;        /play/dress_up_tip.ftl;
ply_Dun;    index;        /play/dress_uptree.ftl;
ply_Op;     succ;         /play/dress_up_tip.ftl;
ply_Oe;     succ;         /play/dress_up_tip.ftl;
ply_YD;      .*;          /play/yuandanhongbao.ftl;
ply_IC;     succ;          /play/introduced_chunjie.ftl;
ply_IC;     index;          /play/index_chunjie.ftl;
ply_IC;      info;          /play/tishi_chunjie.ftl;
ply_IC;      duihuan;       /play/duihuan_chunjie.ftl;
ply_IC;      m;             /play/exchange_chunjie.ftl;
ply_IC;      xian;          /play/xianshi_chunjie.ftl;
ply_JL;      .*;            /play/jiangli_chunjie.ftl;
ply_GM;      .*;            /play/gaiming.ftl;
#踢球
p_TI;    .*;     /tiqiu/index.ftl;
p_RY;     .*;     /tiqiu/renyiqiu.ftl;
p_RYT;     succ;     /tiqiu/renyiqiutwo.ftl;
p_RYT;     index;     /tiqiu/jinqiu.ftl;
p_DQ;     .*;     /tiqiu/dianqiu.ftl;
p_DQT;    succ;     /tiqiu/dianqiutwo.ftl;
p_DQT;    index;     /tiqiu/jinqiu.ftl;
p_XPH;    .*;      /tiqiu/xiaopeihe.ftl;
p_XPHT;    .*;      /tiqiu/xiaopeihetwo.ftl;
p_XPHt;    succ;      /tiqiu/xiaopeihethree.ftl;
p_XPHt;    index;      /tiqiu/jinqiu.ftl;
#强化
i_IMT;      .*;        /item/listsqiang.ftl;

#npc
in_LvLiu;    in;         /npc/npc_lvliu.ftl
in_LvLiu;    out;        /npc/npc_lvliu_out.ftl
n_re;        succ;       /npc/npc_active.ftl
n_re;        reward;     /npc/npc_reward.ftl
n_re;        oct;        /npc/npc_oct_choose.ftl
n_re;        jieshao;    /npc/npc_rule.ftl
n_cyj;       in;         /npc/cyj_main_in.ftl
n_cyj;       out;        /npc/cyj_main_out.ftl
n_cyj;       rule;       /npc/cyj_rule.ftl
n_cyj;       compose;    /npc/cyj_compose.ftl
n_cyj;       info;       /npc/cyj_info.ftl
n_cyj;       in_note;    /npc/cyj_main_in_note.ftl
n_cyj;       exchange;   /npc/cyj_exchange.ftl
n_cyj;       give;       /npc/cyj_give.ftl
n_cyj;       dui;        /npc/cyj_main_exchange.ftl
n_cyj;       duihuan;    /npc/cyj_dati.ftl

n_wsj;       in;         /npc/wsj_in.ftl;
n_wsj;       out;        /npc/wsj_out.ftl;
n_wsj;       rule;       /npc/wsj_rule.ftl;
n_wsj;       mission;    /npc/wsj_mission.ftl;
n_wsj;       exchange;   /npc/wsj_exchange.ftl;
n_wsj;       info;       /npc/wsj_info.ftl;

n_lw;        main;       /npc/lk_main.ftl;
n_lw;        info;       /npc/lk_info.ftl;
n_lw;        fish;       /npc/lk_fish.ftl;
n_lw;        lure;       /npc/lk_fish_lure.ftl;
n_lw;        fishing;    /npc/lk_fishing.ftl;
n_lw;        wish;       /npc/lk_wishes.ftl;
n_lw;        input;      /npc/lk_input.ftl;
n_lw;        rule;       /npc/lk_rule.ftl;

n_itf;       list;      /npc/itf_list.ftl;
n_itf;      decompose;  /npc/itf_decompose.ftl;
n_itf;   decompose_list;  /npc/itf_decompose_list.ftl;
n_itf;      rule;       /npc/itf_decompose_rule.ftl;
n_itf;  decompose_confirm; /npc/itf_decompose_confirm.ftl; 
n_itf;      info;       /npc/itf_info.ftl;
n_itf; fenjieshu_confirm; /npc/itf_fjs_confirm.ftl; 



n_xyy;       in;        /npc/xyy_in.ftl;
n_xyy;      rule;       /npc/xyy_rule.ftl;
n_xyy;      guest;      /npc/xyy_guest.ftl;
n_xyy;      info;       /npc/xyy_info.ftl;
n_xyy;      query;      /npc/xyy_query.ftl;
n_xyy;    exchange;     /npc/xyy_exchange.ftl;
n_xyy;      out;        /npc/xyy_out.ftl;

n_Gx;		main;       /npc/gamber/main.ftl;
n_Gx;		rule;       /npc/gamber/rule.ftl;
n_Gx;	   channel;     /npc/gamber/channel.ftl;
n_Gx;	   three;       /npc/gamber/channel_three.ftl;
n_Gx;   three_gamble;   /npc/gamber/channel_three_gamble.ftl;
n_Gx;    three_rule;    /npc/gamber/channel_three_rule.ftl;
n_Gx;    three_conf;    /npc/gamber/channel_three_conf.ftl;
n_Gx;       info;       /npc/gamber/info.ftl;
n_Gx;      horse;       /npc/gamber/channel_horse.ftl;
n_Gx;   horse_rule;     /npc/gamber/channel_horse_rule.ftl;
n_Gx;   horse_gamble;   /npc/gamber/channel_horse_gamble.ftl;
n_Gx;    horse_conf;    /npc/gamber/channel_horse_conf.ftl;
n_Gx;      five;        /npc/gamber/channel_five.ftl;
n_Gx;   five_gamble;    /npc/gamber/channel_five_gamble.ftl;
n_Gx;    five_rule;     /npc/gamber/channel_five_rule.ftl;

n_love;    main;        /npc/loveday/love_main.ftl;
n_love;    tree;        /npc/loveday/love_tree.ftl;
n_love;    give;        /npc/loveday/love_give_list.ftl;
n_love;   choose;       /npc/loveday/love_choose.ftl;
n_love;    info;        /npc/loveday/love_info.ftl;
n_love;   flower;       /npc/loveday/love_flower.ftl;
n_love;    view;        /npc/loveday/love_view_flower.ftl;
n_love;    rule;        /npc/loveday/love_rule.ftl;
n_love;    forge;       /npc/loveday/love_forge.ftl;
n_love;    show;        /npc/loveday/love_forge_show.ftl;

n_luck;    main;        /npc/loveday/luck_main.ftl;
n_luck;    luck;        /npc/loveday/luck_list.ftl;


n_lan;     main;        /npc/lantern/lan_main.ftl;
n_lan;     rule;        /npc/lantern/lan_rule.ftl;
n_lan;     make;        /npc/lantern/lan_make.ftl;
n_lan;     info;        /npc/lantern/lan_info.ftl;
n_lan;   exchgelist;    /npc/lantern/lan_exchge_list.ftl;
n_lan;     caiti;       /npc/lantern/lan_cai.ftl;
n_lan;     dati;       /npc/lantern/lan_da.ftl;
n_lan;     tishi;       /npc/lantern/lan_tishi.ftl;
n_lan;       open;		 /npc/lantern/lan_yuanxiaobao.ftl;

n_sr;      main;		 /store/sr_main.ftl;
n_sr;      kuo;			 /store/sr_kuo.ftl;
n_sr;      kuochong;	 /store/sr_kuochong.ftl;	
n_sr;      savelist;	 /store/sr_savelist.ftl;	
n_sr;      outlist;		 /store/sr_outlist.ftl;
n_sr;      jiesuo;		 /store/sr_unbind_pre.ftl;
n_sr;      savenum;		 /store/sr_savenum.ftl;
n_sr;      outnum;		 /store/sr_outnum.ftl;

n_Wy;      main;		 /npc/wuyi/wy_main.ftl;
n_Wy;      rule;		 /npc/wuyi/wy_rule.ftl;
n_Wy;      info;		 /npc/npc_info.ftl;
n_Wy;      forge;		 /npc/wuyi/wy_forge.ftl;

n_Ly;		main;  		/npc/liuyi/ly_main.ftl;
n_Ly;		award;		/npc/liuyi/ly_award.ftl

n_IA;       index;        /npc/npc_award.ftl;
n_IA;       confirm;      /npc/npc_award_ling.ftl;

n_MA;       index;        /npc/midautumnday/exchangeMoonPkg.ftl;
n_MA;       succ;        /npc/midautumnday/getprizereturn.ftl;

i_Opap;       info;       /npc/itf_info.ftl;
#member
p_m;         intro;        /member/member_prefix.ftl;  
p_m;      pay_choose;      /member/member_pay_choose.ftl; 
p_m;      pay_confirm;     /member/member_pay_confirm.ftl; 
p_m;        member;        /member/member.ftl; 
p_m;        member_lv;     /member/member_lv_rule.ftl; 
p_m;        member_lp;     /member/member_lp_rule.ftl; 
p_m;       member_zone;    /member/member_query.ftl; 
p_m;    member_exchange;   /member/member_exchange.ftl; 
p_m;    member_ex_cofim;   /member/member_exchange_confirm.ftl;
p_m;       member_info;    /member/member_info.ftl;
p_m;     member_reward;    /member/member_reward.ftl;
#擂台
f_CL;     index;           /fight/challenge_index.ftl;
f_CL;     guize;           /fight/challenge_guize.ftl;
f_CL;     bishi;           /fight/challenge_bishi.ftl;
f_CL;     chu;           /fight/challenge_chu.ftl;
f_CL;     zhong;           /fight/challenge_zhong.ftl;
f_CL;     gao;           /fight/challenge_gao.ftl;
f_CL;     leitai;           /fight/challenge_leitai.ftl;
f_CL;     chenggong;      /fight/challenge_chenggong.ftl;
f_M;      zhansheng;       /fight/challenge_zhansheng.ftl;
#采集
i_AQ;      .*;            /item/acquisition_main.ftl;
#promotion
p_pp;     index;           /promotion/index.ftl;
p_pp;     rule;            /promotion/rule.ftl;
p_pp;   reward_rule;       /promotion/reward_rule.ftl;
p_pp;    registe;          /promotion/registe.ftl;
p_pp;    info;             /promotion/info.ftl;
p_pp;    find;             /promotion/findjifen.ftl;
p_pp;    indetroduced;     /promotion/indetroduced.ftl;
p_TJ;    index;            /promotion/tuijianren.ftl;
p_TJ;    jiang;            /promotion/tuijianjiang.ftl;
p_TJT;   succ;             /promotion/tuijian.ftl;
#display
p_PD;   display;             /player/displayer.ftl;
p_PD;   info;               /player/displayer_info.ftl;

#resell
rs_M;   .*;                 /resell/resell_main.ftl;
rs_EGP; .*;                 /resell/exchange_game_gold_prepare.ftl;
rs_EGG; .*;                 /resell/exchange_game_gold_result.ftl;
rs_SGP; .*;                 /resell/sell_goods_prepare.ftl;  
rs_SGC; .*;                 /resell/sell_goods_result.ftl;
rs_BGP; .*;                 /resell/buy_goods_prepare.ftl;
rs_BGC; .*;                 /resell/buy_goods_result.ftl;

p_of;  main;               /offline/main.ftl;
p_of;  my;                 /offline/my.ftl;
p_of;  note;               /offline/note.ftl;
p_of;  get;                /offline/get.ftl;

n_ll;  main;               /npc/npc_leave.ftl;
p_HL;   .*;                /help.ftl

z_g;	.*;					/player/zhsh_go.ftl;
#i_TB;	.*;					/item/test_buff_rand.ftl;

d_SD;	stat_in;					/dart/start_dart.ftl;
d_SD;	stat_bg;					/dart/start_dart_begin.ftl;
d_SD;	stat_st;					/dart/start_dart_start.ftl;
d_SU;	.*;							/dart/speed_up.ftl;
d_RD;	stat_vie;					/dart/rob_dart_view.ftl;
d_RD;	stat_rob;					/dart/rob_dart_rob.ftl;
d_GRD;	stat_ind;					/dart/rob_prize_index.ftl;
d_GRD;	stat_desc;					/dart/rob_prize_desc.ftl;
d_GRD;	stat_get;					/dart/rob_prize_get.ftl;
d_SA;	.*;							/dart/show_all_dart.ftl;

s_SI;	.*;							/skill/start_index.ftl;
s_VS;	.*;							/skill/view_skill.ftl;
s_US;	.*;							/skill/upgrade_skill.ftl;
s_LS;	.*;							/skill/learn_skill.ftl;
